/* some idk styles , maybe for responsive design */
.row{
	overflow: hidden; 
}

[class*="col-"]{
	margin-bottom: -99999px;
	padding-bottom: 99999px;
}
/* closing that idk styles */

/*Style code for the long width image and content inside it */
.autosized .label{
	position: absolute;
	top: 80%;
	left: 10%;
	transform: translate(-50%, -50%);
	background-color: rgba(255,255,255,0.8);
	color: #3FE2F9;

}
.autosized{
	background: rgba(255,255,255,0.9);
	width: 150px;
	height: 55px;
	position: absolute;
	transform: translate(-50%, -50%);
	border-radius: 10px;
	font-family: raleway;
	padding-top: 10px; /* padding for text inside that small white box */

}
.autosized1{
	top: 80%;
	left: 10%;
}
.autosized2{
	top: 80%;
	left: 35%;
}
.autosized3{
	top: 80%;
	left: 60%;
}
.autosized4{
	top: 80%;
	left: 85%;
}


.longimg h2{
	font-family: raleway;
	color: #FFFFFF;
	font-size: 40px;
	font-weight: 900;
	
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);

}
.pick1{
	background-color: rgba(250,14,125,0.8);
	padding: 10px;
	border-radius: 10px;
}
/*ending long image code bro */
body{
	background-image: url(../images/bodyback2.jpg);
	
	background-position: center;
	padding: 0px;
}
.longimg h3{
	font-family: 'Bellefair', serif;
	margin-top: 1px;
	
}
.jumbotron {
	background-color:#D790FA; 
	background-repeat: no-repeat;
	height: auto;
	width: auto;
}
.longimg{
	background-image: url("../images/longimg.jpg");
	width: 100%;
	position: relative;
	margin-bottom: 20px;
	height: 350px;
	opacity: 0.8;

}
/* now style for displaying the image of each decorator */
.thumbnail {
	padding: 0px; /*to make image full size of that box */
}
.thumbnail h4{
	padding-left: 8px;
}
.container {
	margin-bottom: 10px; /* marging below phone,gallery etc buttons */
}
/* closing those styles bro */

/* media query for those 4 divisions inside the long image*/
@media only screen  and (max-width : 629px) {
	/* Styles */
	.autosized1{
		top: 68%;
		left: 14%;
		margin-left: 25px;
	}
	.autosized2{
		top: 87%;
		left: 14%;
		margin-left: 25px;
	}
	.autosized3{
		top: 68%;
		left: 85%;
		margin-right: 25px;
	}
	.autosized4{
		top: 87%;
		left: 85%;

	}
}
@media only screen  and (max-width : 568px) {
	/* Styles */
	.autosized p{
		font-size: 13px;
	}
	.autosized1{
		top: 68%;
		left: 14%;
	}
	.autosized2{
		top: 87%;
		left: 14%;
	}
	.autosized3{
		top: 68%;
		left: 80%;
	}
	.autosized4{
		top: 87%;
		left: 80%;

	}
	.pick1{
		display: none;
	}
}
@media only screen  and (max-width : 375px) {
	/* Styles */
	.autosized p{
		font-size: 13px;

	}
	.autosized{
		height: 40px;
	}
	.autosized1{
		top: 68%;
		left: 14%;
		margin-left: 25px;
	}
	.autosized2{
		top: 87%;
		left: 14%;
		margin-left: 25px;
	}
	.autosized3{
		top: 68%;
		left: 80%;
	}
	.autosized4{
		top: 87%;
		left: 80%;

	}
	.pick1{
		display: none;
	}
}
@media only screen  and (max-width : 375px) {
	/* Styles */
	.autosized p{
		font-size: 13px;

	}
	.autosized{
		height: 40px;
	}
	.autosized1{
		top: 68%;
		left: 16%;
		margin-left: 25px;
	}
	.autosized2{
		top: 87%;
		left: 16%;
		margin-left: 25px;
	}
	.autosized3{
		top: 68%;
		left: 75%;
	}
	.autosized4{
		top: 87%;
		left: 75%;

	}
	.pick1{
		display: none;
	}
}


.thumbnail {
    display: block;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #ef93e4;
    border: 1px solid white;
    border-radius: 4px;
    transition: border .2s ease-in-out;
}


ul {
	text-align: center;
}

ul li {
	font: 13px Verdana, 'Lucida Grande';
	cursor: pointer;
	-webkit-transition: padding .05s linear;
	-moz-transition: padding .05s linear;
	-ms-transition: padding .05s linear;
	-o-transition: padding .05s linear;
	transition: padding .05s linear;
}
ul li.drop {
	position: relative;
}
ul > li {
	display: inline-block;
}
ul li a {
	line-height: 80px;
	padding: 0 20px;
	height: 80px;
	color: #777;
	-webkit-transition: all .1s ease-out;
	-moz-transition: all .1s ease-out;
	-ms-transition: all .1s ease-out;
	-o-transition: all .1s ease-out;
	transition: all .1s ease-out;
}
ul li a:hover {
	color: #eee;
}

.dropOut .triangle {
	width: 0;
	height: 0;
	position: absolute;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid white;
	top: -8px;
	left: 50%;
	margin-left: -8px;
}
.dropdownContain {
	width: 160px;
	position: absolute;
	z-index: 2;
	left: 50%;
	margin-left: -80px; /* half of width */
	top: -400px;
}
.dropOut {
	width: 160px;
	background: white;
	float: left;
	position: relative;
	margin-top: 0px;
	opacity: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 6px rgba(0,0,0,.15);
	-moz-box-shadow: 0 1px 6px rgba(0,0,0,.15);
	box-shadow: 0 1px 6px rgba(0,0,0,.15);
	-webkit-transition: all .1s ease-out;
	-moz-transition: all .1s ease-out;
	-ms-transition: all .1s ease-out;
	-o-transition: all .1s ease-out;
	transition: all .1s ease-out;
}

.dropOut ul {
	float: left;
	padding: 10px 0;
}
.dropOut ul li {
	text-align: left;
	float: left;
	width: 125px;
	padding: 12px 0 10px 15px;
	margin: 0px 10px;
	color: #777;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition: background .1s ease-out;
	-moz-transition: background .1s ease-out;
	-ms-transition: background .1s ease-out;
	-o-transition: background .1s ease-out;
	transition: background .1s ease-out;
}

.dropOut ul li:hover {
	background: #f6f6f6;
}

ul li:hover a { color: white; }
ul li:hover .dropdownContain { top: 65px; }
ul li:hover .underline { border-bottom-color: #777; }
ul li:hover .dropOut { opacity: 1; margin-top: 8px; }
